{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block own_css %}{% endblock %}
{% block title %}
    <title>Вещи</title>
{% endblock %}


{% block content %}
    <div class="container">

        {% for clothes in clothes_list %}
            <div class="modal fade" id="card_add_data_form_{{ clothes.id }}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <form action="{% url 'clothing:clothes_update' clothes.id %}" method="POST">{% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ clothes.clothes_title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Наименование</label><br>
                                            <input type="text" class="form-control" value="{{ clothes.clothes_title }}"
                                                   name="clothes_title" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Номенклатура</label><br>
                                            <input type="text" class="form-control" value="{{ clothes.nomenclature }}"
                                                   name="nomenclature">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Срок носки</label><br>
                                            <input type="text" class="form-control" value="{{ clothes.wear_time }}"
                                                   name="wear_time" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        {% endfor %}

        <br>
        <h3>Список наименований</h3>
        <form action="{% url 'clothing:clothes_list' %}">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Название</label>
                        {% render_field filter.form.clothes_title class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Номенклатура</label>
                        {% render_field filter.form.nomenclature class+="form-control" %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Срок носки от</label>
                        {% render_field filter.form.wear_time_from class+="form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Срок носки до</label>
                        {% render_field filter.form.wear_time_till class+="form-control" %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary">Поиск</button>
            <a href="{% url 'clothing:clothes_list' %}" class="btn btn-secondary">Сбросить фильтр</a>
        </form>
        <br>

        {% if clothes_list %}
            <h5>Найдено записей - {{ clothes_list.count }}</h5> <br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Номенклатура</th>
                    <th scope="col">Срок носки</th>
{#                    <th scope="col"></th>#}
                </tr>
                </thead>
                <tbody>
                {% for clothes in clothes_list %}
                    <tr>
                        <td>{{ clothes.id }}</td>
                        <td><a href="#card_add_data_form_{{ clothes.id }}" data-bs-toggle="modal"
                               class="link-secondary">{{ clothes.clothes_title|default_if_none:"Нет данных" }}</a></td>
                        <td>{{ clothes.nomenclature|default_if_none:"Нет данных" }}</td>
                        <td>{{ clothes.wear_time|default_if_none:"Нет данных" }} мес.</td>
{#                        <td><a href="javascript:delete_clothes({{ clothes.id }})">удалить</a></td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Список пуст!</p>
        {% endif %}
    </div>
{% endblock %}


{% block own_js %}
    <script>
        function delete_clothes(id) {
            csrftoken = $("input[name='csrfmiddlewaretoken']").val();
            fetch(`/api/clothes/${id}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    "X-CSRFToken": csrftoken,
                },
            }).then(response => {
                    if (response.status >= 200 && response.status < 300) {
                        window.location.href = window.location.href
                    } else {
                        throw new Error("Ошибка удаления!")
                    }
                }
            ).catch((e) => alert(e.message))
        }
    </script>
{% endblock %}

