{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load dict_tags %}
{% load math_tags %}
{% load card_tags %}

{% block own_css %}{% endblock %}
{% block title %}
    <title>Арматурная карточка</title>
{% endblock %}


{% block content %}

    <div class="container">

        {#    модалки для редактирования выдачи #}
        {% for movement in movement_list %}
            <div class="modal fade" id="movements_in_card_update_form_{{ movement.id }}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <form id="{{ movement.id }}" class="movements_in_card_update_form">{% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ movement.date_of_issue }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Движение</label>
                                            <select class="form-select" id="id_movement_{{ movement.id }}">
                                                {% if movement.movement_direction == 1 %}
                                                    <option value="1" selected>Выдача</option>
                                                    <option value="2">Сдача</option>
                                                {% else %}
                                                    <option value="1">Выдача</option>
                                                    <option value="2" selected>Сдача</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Дата движения</label>
                                            <input type="date" value="{{ movement.date_of_issue|date:"Y-m-d" }}"
                                                   class="form-control"
                                                   id="id_date_of_issue_{{ movement.id }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check">
                                            {% if movement.has_certificate %}
                                                <input class="form-check-input has_certificate_checkbox_modal"
                                                       type="checkbox" value=""
                                                       id="id_has_certificate_checkbox_{{ movement.id }}"
                                                       checked>
                                            {% else %}
                                                <input class="form-check-input has_certificate_checkbox_modal"
                                                       type="checkbox" value=""
                                                       id="id_has_certificate_checkbox_{{ movement.id }}">
                                            {% endif %}
                                            <label class="form-check-label">
                                                Получено по аттестату
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">№ аттестата</label>
                                            {% if movement.has_certificate %}
                                                <input type="text"
                                                       value="{{ movement.certificate_number|default_if_none:"" }}"
                                                       class="form-control"
                                                       id="id_certificate_number_{{ movement.id }}" required>
                                            {% else %}
                                                <input type="text"
                                                       value="{{ movement.certificate_number|default_if_none:"" }}"
                                                       class="form-control"
                                                       id="id_certificate_number_{{ movement.id }}" disabled>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">№ документа</label>
                                            {% if not movement.has_certificate %}
                                                <input type="text"
                                                       value="{{ movement.document_number|default_if_none:"" }}"
                                                       class="form-control"
                                                       id="id_document_number_{{ movement.id }}" required>
                                            {% else %}
                                                <input type="text"
                                                       value="{{ movement.document_number|default_if_none:"" }}"
                                                       class="form-control"
                                                       id="id_document_number_{{ movement.id }}" disabled>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Срок носки по аттестату</label>
                                            {% if movement.has_certificate %}
                                                <input type="number"
                                                       value="{{ movement.certificate_wear_time }}"
                                                       class="form-control"
                                                       id="id_certificate_wear_time_{{ movement.id }}" required>
                                            {% else %}
                                                <input type="number"
                                                       value="{{ movement.certificate_wear_time }}"
                                                       class="form-control"
                                                       id="id_certificate_wear_time_{{ movement.id }}" disabled>
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            {% if movement.is_closed_loop %}
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="id_is_closed_loop_{{ movement.id }}"
                                                       checked>
                                            {% else %}
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="id_is_closed_loop_{{ movement.id }}">
                                            {% endif %}
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Основная выдача
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            {% if movement.has_replacement %}
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="id_has_replacement_{{ movement.id }}"
                                                       checked>
                                            {% else %}
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="id_has_replacement_{{ movement.id }}">
                                            {% endif %}
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Замена
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <h5 class="my-3">Наименования в выдаче</h5>
                                {% for item in movement.descriptionitem_set.all %}
                                    <div class="mb-3">
                                        <label class="form-label">{{ item.clothes }}</label>
                                        <input type="number" value="{{ item.count }}" class="form-control"
                                               id="{{ movement.id }}_count_{{ item.id }}"
                                               style="width: 200px;">
                                    </div>
                                {% endfor %}
                                {% if not movement.has_certificate %}
                                    <div class="mb-3">
                                        <label class="form-label">Выдано вместо позиции из аттестата</label>
                                        {% if movement.replacing_what %}
                                            <select name="" id="id_replacing_what_{{ movement.id }}" class="form-select"
                                                    style="width: 100%;">
                                                <option value="">----</option>
                                                {% for movement_from_certificate in movement_list_from_certificate %}

                                                    {% if movement_from_certificate.id == movement.replacing_what.id %}
                                                        <option value="{{ movement_from_certificate.id }}"
                                                                selected>{{ movement_from_certificate }}</option>
                                                    {% else %}
                                                        <option value="{{ movement_from_certificate.id }}">{{ movement_from_certificate }}</option>
                                                    {% endif %}

                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <select name="" id="id_replacing_what_{{ movement.id }}" class="form-select"
                                                    style="width: 100%;">
                                                <option value="" selected>----</option>
                                                {% for movement_from_certificate in movement_list_from_certificate %}
                                                    <option value="{{ movement_from_certificate.id }}">{{ movement_from_certificate }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена
                                </button>
                                <a class="btn btn-danger"
                                   href="javascript:delete_movement({{ movement.id }})">Удалить</a>
                                <button type="submit" class="btn btn-primary"
                                        id="update_clothes_in_card_button_{{ movement.id }}">Сохранить изменения
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

        {#            модалки для редактирования личных данных#}
        <div class="modal fade" id="employee_data_form" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <form id="id_employee_update_form">{% csrf_token %}
                    <input type="hidden" value="{{ employee.id }}" id="id_employee">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ employee.get_full_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Фамилия</label><br>
                                        {% render_field employee_form.last_name class+="form-control" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Имя</label><br>
                                        {% render_field employee_form.first_name class+="form-control" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Отчество</label><br>
                                        {% render_field employee_form.patronymic class+="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Персональный номер</label><br>
                                        {% render_field employee_form.personal_number class+="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Тип записи</label><br>
                                        {% render_field employee_form.kind class+="form-select" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Подразделение</label><br>
                                        {% render_field employee_form.subdivision class+="form-select" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Звание</label><br>
                                        {% render_field employee_form.rank class+="form-select" %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Должность</label><br>
                                        {% render_field employee_form.position class+="form-select" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Группа (для курсантов)</label><br>
                                        {% render_field employee_form.group class+="form-select" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Пол</label><br>
                                        {% render_field employee_form.sex class+="form-select" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Дата рождения</label><br>
                                        {% render_field employee_form.date_of_birth class+="form-control" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Дата зачисления</label><br>
                                        {% render_field employee_form.enlisted class+="form-control" %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Дата исключения</label><br>
                                        {% render_field employee_form.excluded class+="form-control" %}
                                    </div>
                                </div>
                            </div>
                            {% if employee.decree_set.all %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5>Декреты</h5>
                                        {% for decree in employee.decree_set.all %}
                                            {{ decree }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
        <div class="modal fade" id="card_data_form" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <form id="id_card_data_update_form">{% csrf_token %}
                    <input type="hidden" value="{{ card.id }}" id="id_card">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ card.employee.get_full_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <input type="hidden" value="{{ card.employee.id }}" name="employee">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Номер карты</label><br>
                                        {% render_field card_form.card_number class+="form-control" style="width: 100%" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Норма</label><br>
                                        {% render_field card_form.norm class+="form-select" style="width: 100%" %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Рост</label>
                                        {% render_field card_form.growth class+="form-control" %}

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Обхват груди</label>
                                        {% render_field card_form.bust class+="form-control" %}

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Куртка</label>
                                        {% render_field card_form.jacket class+="form-control" %}

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Обувь</label>
                                        {% render_field card_form.shoes class+="form-control" %}

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Фуражка</label>
                                        {% render_field card_form.cap class+="form-control" %}

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Воторничек</label>
                                        {% render_field card_form.collar class+="form-control" %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <div><h3><i class="far fa-long-arrow-alt-left"></i><a href="{{ back_path }}"
                                                              class="link-secondary needs-spinner"><i
                class="fas fa-arrow-left"></i>

            Вернуться
            к списку карточек</a></h3></div>
        <br>
        <h2 class="mb-3 fw-bold">Арматурная карточка № {{ card.card_number }}</h2>

        <div class="row">
            <h4 class="card-title mb-3"><a href="#employee_data_form" data-bs-toggle="modal"
                                           class="link-secondary"><i
                    class="fas fa-user-circle"></i>&nbsp;{{ card.employee.get_full_name }}</a></h4>
            <div class="col-xl-6 my-2">
                <h6>звание - <span class="fst-italic">{{ card.employee.rank }}</span></h6>
                <h6>должность - <span
                        class="fst-italic">{{ card.employee.position|default_if_none:"Нет данных" }} ({{ card.employee.subdivision|default_if_none:"Нет данных" }})</span>
                </h6>
                <h6>зачислен(а) - <span class="fst-italic">Нет данных</span></h6>
                <h6>исключен(а) - <span class="fst-italic">Нет данных</span></h6>
                <h6>личный номер - <span class="fst-italic">Нет данных</span></h6>
            </div>
            <div class="col-xl-6 my-2">
                <h5 class="card-title"><a href="#card_data_form" data-bs-toggle="modal" class="link-secondary"><i
                        class="fas fa-tshirt"></i>&nbsp;Сведения
                    о
                    ростовке (редактирование карты)</a></h5>

                <h6 style="display: inline !important;">рост - <span
                        class="fst-italic">{{ card.growth|default_if_none:"Нет данных" }}</span></h6>,
                <h6 style="display: inline !important;">обхват груди - <span
                        class="fst-italic">{{ card.bust|default_if_none:"Нет данных" }}</span></h6>,
                <h6 style="display: inline !important;">куртка - <span
                        class="fst-italic">{{ card.jacket|default_if_none:"Нет данных" }}</span></h6>,
                <h6 style="display: inline !important;">ботинки - <span
                        class="fst-italic">{{ card.shoes|default_if_none:"Нет данных" }}</span></h6>,
                <h6 style="display: inline !important;">фуражка - <span
                        class="fst-italic">{{ card.cap|default_if_none:"Нет данных" }}</span></h6>,
                <h6 style="display: inline !important;">воротничок-размер - <span
                        class="fst-italic">{{ card.collar|default_if_none:"Нет данных" }}</span>
                </h6>
            </div>
        </div>

        <br>
        <div class="accordion">
            <div class="accordion-item">
                <h5 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Норма положенности - <span class="fst-italic">{{ card.norm }}</span></b>
                    </button>
                    <input type="hidden" id="id_norm" value="{{ card.norm.id }}">
                </h5>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Наименование</th>
                                <th scope="col">Срок носки</th>
                                <th scope="col">Количество</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in card.norm.normitemsinnorm_set.all %}
                                <tr>
                                    <td>{{ item.norm_item }}</td>
                                    <td>{{ item.wear_time }} мес.</td>
                                    <td>{{ item.norm_count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div>
            <div class="shadow-lg px-4 py-3 mb-3 bg-body rounded">
                <form id="clothes_in_card_form" method="post">{% csrf_token %}
                    <input type="hidden" value="{{ card.id }}" id="id_card">
                    <div class="row align-items-start">
                        <div class="col-lg-12">
                            <div class="mb-1">
                                <label class="form-label">Наименование</label><br>
                                <select name="norm_items" class="form-select my-select2" id="id_norm_items" multiple
                                        required
                                        style="width: 100%">
                                    {% for item in items_in_norm_all %}
                                        <option value="{{ item.id }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="id_all_position_checkbox">
                                <label class="form-check-label">Выбрать все позиции в норме</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Движение</label>
                                <select class="form-select" name="movement" id="id_movement">
                                    <option value="1">Выдача</option>
                                    <option value="2">Сдача</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Количество</label>
                                <input type="number" class="form-control" id="id_count_of_issue" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Дата выдачи/сдачи</label>
                                <input type="date" class="form-control" id="id_date_of_issue" required>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-end">
                        <div class="col-lg-4">
                            <div class="mb-1 form-check">
                                <input type="checkbox" class="form-check-input" id="id_has_certificate_checkbox">
                                <label class="form-check-label">Получено по аттестату</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">№ аттестата</label>
                                <input type="text" class="form-control" id="id_certificate_number" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Срок носки по аттестату</label>
                                <input type="number" class="form-control" id="id_certificate_wear_time" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">№ документа</label>
                                <input type="text" class="form-control" id="id_document_number">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="id_is_closed_loop" checked>
                        <label class="form-check-label">Основная выдача</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-secondary" id="add_clothes_in_card_button">Добавить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <br>
        <table class="table table-bordered table-sm">
            <thead class="align-middle text-center">
            <tr>
                <th rowspan="3" class="border border-3 border-secondary">№ п.п</th>
                <th rowspan="3" class="border border-3 border-secondary">Наименование предметов</th>
                <th rowspan="3" class="border border-3 border-secondary">Состоит согласно вещевому
                    аттестату <span
                            class="fst-italic text-decoration-underline">{{ certificate_number|default_if_none:"_____" }}</span><br>
                </th>
                <th rowspan="3" class="border border-3 border-secondary">Дата и количество следующей выдачи</th>
                <th colspan="{{ year_list_count|mult:"3" }}" class="border border-3 border-secondary">Выдано
                </th>
                <th colspan="{{ year_list_count|mult:"3" }}" class="border border-3 border-secondary">Сдано</th>
            </tr>
            <tr>
                {% for year in year_list %}
                    <th colspan="3" class="border border-3 border-secondary">{{ year }}</th>
                {% endfor %}
                {% for year in year_list %}
                    <th colspan="3" class="border border-3 border-secondary">{{ year }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for year in year_list %}
                    <th class="border border-3 border-secondary">Дата</th>
                    <th class="border border-3 border-secondary">Кол.</th>
                    <th class="border border-3 border-secondary">№ док.</th>
                {% endfor %}
                {% for year in year_list %}
                    <th class="border border-3 border-secondary">Дата</th>
                    <th class="border border-3 border-secondary">Кол.</th>
                    <th class="border border-3 border-secondary">№ док.</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="align-middle text-center">


            {% for item in clothes_list %}
                <tr>
                    <th class="border">{{ forloop.counter }}</th>
                    {% if item in clothes_in_norm_list %}
                        <th class="border text-start table-success">
                            <nobr>{{ item }}</nobr>
                        </th>
                    {% else %}
                        <th class="border text-start">
                            <nobr>{{ item }}</nobr>
                        </th>

                    {% endif %}


                    <td>
                        <nobr>
                            {% if description_list|get_certificate_item:item.id %}
                                {% with certificate_item=description_list|get_certificate_item:item.id %}
                                    <a href="#movements_in_card_update_form_{{ certificate_item.movement.id }}"
                                       data-bs-toggle="modal"
                                       class="link-secondary">{{ certificate_item.movement.date_of_issue|date:"m.y" }}
                                        - {{ certificate_item.count }} шт.</a>
                                {% endwith %}
                            {% endif %}
                        </nobr>
                    </td>
                    <td>
                        {% with args=card.id|str_concat:item.id %}
                            <nobr>{{ movement_list|get_next_date_and_count:args }}</nobr>
                        {% endwith %}
                    </td>
                    {% for year in year_list %}
                        {% with args=year|str_concat:item.id %}
                            <td>
                                {% for description in description_list|get_descriptions_out:args %}
                                    {% if description.movement.is_closed_loop %}
                                        <a href="#movements_in_card_update_form_{{ description.movement.id }}"
                                           data-bs-toggle="modal"
                                           class="link-success">{{ description.movement.date_of_issue|date:"m.y" }}</a>
                                        {% if description.movement.has_replacement %}
                                            Замена
                                        {% endif %}
                                        {% if description.movement.replacing_what %}
                                            Вместо <b>{{ description.movement.replacing_what.get_replacing_what }}</b>
                                        {% endif %}
                                    {% else %}
                                        <a href="#movements_in_card_update_form_{{ description.movement.id }}"
                                           data-bs-toggle="modal"
                                           class="link-secondary">{{ description.movement.date_of_issue|date:"m.y" }}</a>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td>
                                {% for description in description_list|get_descriptions_out:args %}
                                    {{ description.count }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for description in description_list|get_descriptions_out:args %}
                                    <nobr>{{ description.movement.document_number|default_if_none:"" }}</nobr><br>
                                {% endfor %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                    {% for year in year_list %}
                        {% with args=year|str_concat:item.id %}
                            <td>
                                {% for description in description_list|get_descriptions_in:args %}
                                    <a href="#movements_in_card_update_form_{{ description.movement.id }}"
                                       data-bs-toggle="modal"
                                       class="link-secondary">{{ description.movement.date_of_issue|date:"d.m.y" }}</a>
                                {% endfor %}
                            </td>
                            <td>
                                {% for description in description_list|get_descriptions_in:args %}
                                    {{ description.count }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for description in description_list|get_descriptions_in:args %}
                                    {{ description.movement.document_number }}<br>
                                {% endfor %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>

            {% endfor %}





            {#            {% for cl_in_n in norm_clothes_list %}#}
            {#                <tr>#}
            {#                    <th class="border">{{ forloop.counter }}</th>#}
            {#                    <th class="border text-start">#}
            {#                        <nobr>{{ cl_in_n.clothes.clothes_title }} ({{ cl_in_n.clothes.wear_time }} мес.)</nobr>#}
            {#                    </th>#}
            {#                    <td class="border">#}
            {#                        {% if clothes_in_card_list|get_certificate_item:cl_in_n.clothes.id %}#}
            {#                            {% with cert_item=clothes_in_card_list|get_certificate_item:cl_in_n.clothes.id %}#}
            {#                                <nobr>#}
            {#                                    <a href="#clothes_in_card_update_form_{{ cert_item.id }}"#}
            {#                                       data-bs-toggle="modal"#}
            {#                                       class="link-secondary">{{ cert_item.count }}#}
            {#                                        шт. {{ cert_item.date_of_issue|date:"m.y" }}</a>#}
            {#                                </nobr>#}
            {#                            {% endwith %}#}
            {#                        {% endif %}#}
            {#                    </td>#}
            {#                    <td></td>#}
            {#                    {% for year in year_list %}#}
            {#                        {% with args=year|str_concat:cl_in_n.clothes.id %}#}
            {#                            {% if clothes_in_card_list|get_movement_out:args %}#}
            {#                                <td class="border border-2 border-secondary">#}
            {#                                    {% for item in clothes_in_card_list|get_movement_out:args %}#}
            {#                                        {% if item.has_replacement %}#}
            {#                                            <a href="#clothes_in_card_update_form_{{ item.id }}"#}
            {#                                               data-bs-toggle="modal"#}
            {#                                               title="{{ item.clothes }}"#}
            {#                                               class="link-secondary text-danger">{{ item.date_of_issue|date:"m.y" }}</a>#}
            {#                                        {% else %}#}
            {#                                            <a href="#clothes_in_card_update_form_{{ item.id }}"#}
            {#                                               data-bs-toggle="modal"#}
            {#                                               title="{{ item.clothes }}"#}
            {#                                               class="link-secondary">{{ item.date_of_issue|date:"m.y" }}</a>#}
            {#                                        {% endif %}#}
            {#                                        <br>#}
            {#                                    {% endfor %}#}
            {#                                </td>#}
            {#                                <td class="border border-2 border-secondary">#}
            {#                                    {% for item in clothes_in_card_list|get_movement_out:args %}#}
            {#                                        {{ item.count }}<br>#}
            {#                                    {% endfor %}#}
            {#                                </td>#}
            {#                                <td class="border border-2 border-secondary">#}
            {#                                    {% for item in clothes_in_card_list|get_movement_out:args %}#}
            {#                                        <nobr>{{ item.document_number|default_if_none:"" }}</nobr><br>#}
            {#                                    {% endfor %}#}
            {#                                </td>#}
            {#                            {% else %}#}
            {#                                <td class="border"></td>#}
            {#                                <td class="border"></td>#}
            {#                                <td class="border"></td>#}
            {#                            {% endif %}#}
            {#                        {% endwith %}#}
            {#                    {% endfor %}#}
            {#                    {% for year in year_list %}#}
            {#                        {% with args=year|str_concat:cl_in_n.clothes.id %}#}
            {#                            {% if clothes_in_card_list|get_movement_in:args %}#}
            {#                                <td class="border">#}
            {#                                    {% for item in clothes_in_card_list|get_movement_in:args %}#}
            {#                                        <a href="#clothes_in_card_update_form_{{ item.id }}"#}
            {#                                           data-bs-toggle="modal"#}
            {#                                           title="{{ item.clothes }}"#}
            {#                                           class="link-secondary">{{ item.date_of_issue|date:"m.y" }}</a>#}
            {#                                        <br>#}
            {#                                    {% endfor %}#}
            {#                                </td>#}
            {#                                <td class="border">#}
            {#                                    {% for item in clothes_in_card_list|get_movement_in:args %}#}
            {#                                        {{ item.count }}<br>#}
            {#                                    {% endfor %}#}
            {#                                </td>#}
            {#                                <td class="border">#}
            {#                                    {% for item in clothes_in_card_list|get_movement_in:args %}#}
            {#                                        {{ item.document_number|default_if_none:"" }}<br>#}
            {#                                    {% endfor %}#}
            {#                                </td>#}
            {#                            {% else %}#}
            {#                                <td class="border"></td>#}
            {#                                <td class="border"></td>#}
            {#                                <td class="border"></td>#}
            {#                            {% endif %}#}
            {#                        {% endwith %}#}
            {#                    {% endfor %}#}
            {#                </tr>#}
            {#            {% endfor %}#}


            </tbody>
        </table>
        {#        </div>#}

        {#        {% else %}#}
        {#            Список пуст!<br>#}
        {#        {% endif %}#}


        <br>
    </div>
{% endblock %}

{% block own_js %}
    <script src="{% static 'clothing/js/card_CRUD.js' %}"></script>
    <script src="{% static 'clothing/js/card_UI.js' %}"></script>
{% endblock %}