<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'clothing/css/bootstrap/css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'clothing/icons/fontawesome-free-5.15.4-web/css/all.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    {% block own_css %}{% endblock %}
    {% block title %}{% endblock %}

</head>
<body>
{% include 'nav_main.html' %}
<div class="main-div" id="id_main_div">
    {% block content %}{% endblock %}
</div>

{% block own_js %}{% endblock %}

<script src="{% static 'clothing/js/main_UI.js' %}"></script>
<script src="{% static 'clothing/js/bootstrap/js/bootstrap.js' %}"></script>


<script>
    $(document).ready(function () {
        $('.my-select2').select2();
    });
</script>

</body>
</html>
