{% extends 'base_list.html' %}

{% load widget_tweaks %}
{% load static %}

{% block own_css %}{% endblock %}

{% block title %}<title>Сотрудники (курсанты)</title>{% endblock %}

{% block modals %}
    {#    add form#}
    <div class="modal fade" id="employee_add_data_form" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <form id="add_employee_form">{% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новый сотрудник</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Фамилия</label><br>
                                    {% render_field employee_form.last_name class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Имя</label><br>
                                    {% render_field employee_form.first_name class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Отчество</label><br>
                                    {% render_field employee_form.patronymic class+="form-control" %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Персональный номер</label><br>
                                    {% render_field employee_form.personal_number class+="form-control" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Тип записи</label><br>
                                    {% render_field employee_form.kind class+="form-select" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Подразделение</label><br>
                                    {% render_field employee_form.subdivision class+="form-select" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Звание</label><br>
                                    {% render_field employee_form.rank class+="form-select" %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Должность</label><br>
                                    {% render_field employee_form.position class+="form-select" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Группа (для курсантов)</label><br>
                                    {% render_field employee_form.group class+="form-select" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Пол</label><br>
                                    {% render_field employee_form.sex class+="form-select" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Дата рождения</label><br>
                                    {% render_field employee_form.date_of_birth class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Дата зачисления</label><br>
                                    {% render_field employee_form.enlisted class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Дата исключения</label><br>
                                    {% render_field employee_form.excluded class+="form-control" %}
                                </div>
                            </div>
                        </div>
                        {#                        <div class="row">#}
                        {#                             <div class="col-lg-4">#}
                        {#                                <div class="mb-3">#}
                        {#                                    {% render_field employee_form.is_on_decree class+="form-check-input" %}#}
                        {#                                    <label class="form-label">В декрете</label>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="col-lg-4">#}
                        {#                                <div class="mb-3">#}
                        {#                                    <label class="form-label">Начало декрета</label><br>#}
                        {#                                    {% render_field employee_form.decree_start class+="form-control" %}#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="col-lg-4">#}
                        {#                                <div class="mb-3">#}
                        {#                                    <label class="form-label">Окончание декрета</label><br>#}
                        {#                                    {% render_field employee_form.decree_finish class+="form-control" %}#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {#            update form#}

    {% for employee in list %}
        <div class="modal fade" id="employee_update_data_form_{{ employee.id }}" tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <form id="{{ employee.id }}" class="employee_update_form_class">{% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ employee.last_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Фамилия</label><br>
                                        <input type="text" class="form-control"
                                               value="{{ employee.last_name }}"
                                               name="last_name" id="id_last_name_{{ employee.id }}"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Имя</label><br>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ employee.first_name }}"
                                               name="first_name" id="id_first_name_{{ employee.id }}"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Отчество</label><br>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ employee.patronymic }}"
                                               name="patronymic" id="id_patronymic_{{ employee.id }}"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Персональный номер</label><br>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ employee.personal_number }}"
                                               id="id_personal_number_{{ employee.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Тип записи</label><br>
                                        <select name="kind" id="id_kind_{{ employee.id }}" class="form-select">
                                            <option value="">----</option>
                                            {% if employee.kind == 1 %}
                                                <option value="1" selected>Курсант</option>
                                                <option value="2">Офицер</option>
                                                <option value="3">Гражданский</option>
                                            {% elif employee.kind == 2 %}
                                                <option value="1">Курсант</option>
                                                <option value="2" selected>Офицер</option>
                                                <option value="3">Гражданский</option>
                                            {% else %}
                                                <option value="1">Курсант</option>
                                                <option value="2">Офицер</option>
                                                <option value="3" selected>Гражданский</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Подразделение</label><br>
                                        <select name="subdivision" id="id_subdivision_{{ employee.id }}"
                                                class="form-select">
                                            <option value="">----</option>
                                            {% for subdivision in subdivision_list %}
                                                {% if subdivision.id == employee.subdivision.id %}
                                                    <option value="{{ subdivision.id }}"
                                                            selected>{{ subdivision.subdivision_name }}</option>
                                                {% else %}
                                                    <option value="{{ subdivision.id }}">{{ subdivision.subdivision_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Звание</label><br>
                                        <select name="rank" id="id_rank_{{ employee.id }}" class="form-select">
                                            <option value="">----</option>
                                            {% for rank in rank_list %}
                                                {% if rank.id == employee.rank.id %}
                                                    <option value="{{ rank.id }}"
                                                            selected>{{ rank.rank }}</option>
                                                {% else %}
                                                    <option value="{{ rank.id }}">{{ rank.rank }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Должность</label><br>
                                        <select name="position" id="id_position_{{ employee.id }}" class="form-select">
                                            <option value="">----</option>
                                            {% for position in position_list %}
                                                {% if position.id == employee.position.id %}
                                                    <option value="{{ position.id }}"
                                                            selected>{{ position.position }}</option>
                                                {% else %}
                                                    <option value="{{ position.id }}">{{ position.position }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Группа</label><br>
                                        <select id="id_group_{{ employee.id }}" class="form-select">
                                            <option value="">----</option>
                                            {% for group in group_list %}
                                                {% if group.id == employee.group.id %}
                                                    <option value="{{ group.id }}"
                                                            selected>{{ group.group_name }}</option>
                                                {% else %}
                                                    <option value="{{ group.id }}">{{ group.group_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Пол</label><br>
                                        <select name="sex" id="id_sex_{{ employee.id }}" class="form-select">
                                            <option value="">----</option>
                                            {% if employee.sex == 1 %}
                                                <option value="1" selected>Мужской</option>
                                                <option value="2">Женский</option>
                                            {% else %}
                                                <option value="1">Мужской</option>
                                                <option value="2" selected>Женский</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Дата рождения</label><br>
                                        <input type="date"
                                               value="{{ employee.date_of_birth|date:"Y-m-d" }}"
                                               name="date_of_birth" id="id_date_of_birth_{{ employee.id }}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Дата зачисления</label><br>
                                        <input type="date"
                                               value="{{ employee.enlisted|date:"Y-m-d" }}"
                                               id="id_enlisted_{{ employee.id }}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Дата исключения</label><br>
                                        <input type="date"
                                               value="{{ employee.excluded|date:"Y-m-d" }}"
                                               id="id_enlisted_{{ employee.id }}"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block list_title %}Сотрудники (курсанты){% endblock %}

{% block filters %}
     <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                   <i class="fas fa-filter"></i>&nbsp;&nbsp;Фильтр
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   <form action="{% url 'clothing:employee_list' %}">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Фамилия</label>
                    {% render_field filter.form.last_name class+="form-control" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Подразделения</label><br>
                    {% render_field filter.form.subdivision class+="form-control my-select2" style="width: 100%" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Звания</label><br>
                    {% render_field filter.form.rank class+="form-control my-select2" style="width: 100%" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Тип сотрудника</label>
                    {% render_field filter.form.kind class+="form-control" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Пол</label>
                    {% render_field filter.form.sex class+="form-control" %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Поиск</button>
        <a href="{% url 'clothing:employee_list' %}" class="btn btn-secondary">Сбросить фильтр</a>
    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block add_button %}
    <a href="#employee_add_data_form" data-bs-toggle="modal" class="btn btn-secondary"
       style="display: block; margin-left:auto; width: 270px;">Добавить сотрудника (курсанта)</a>
{% endblock %}

{% block list %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Звание</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Пол</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in list %}
            <tr>
                <td>{{ employee.id }}</td>
                <td><a href="#employee_update_data_form_{{ employee.id }}" data-bs-toggle="modal"
                       class="link-secondary">{{ employee.last_name|default_if_none:"Нет даных" }}</a></td>
                <td>{{ employee.first_name|default_if_none:"Нет даных" }}</td>
                <td>{{ employee.patronymic|default_if_none:"Нет даных" }}</td>
                <td>{{ employee.rank|default_if_none:"Нет даных" }}</td>
                <td>{{ employee.subdivision|default_if_none:"Нет даных" }}</td>
                <td>{{ employee.get_sex|default_if_none:"Нет даных" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block own_js %}
    <script src="{% static 'clothing/js/employee_CRUD.js' %}"></script>
{% endblock %}